﻿@model AutoSuggestPoc.Models.Pages.StandardPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Standard page</title>
</head>
<body>
    <div>
        <p>@Model.LookupValue</p>
    </div>
</body>
</html>
